{% extends 'layout.html' %}
{% load static %}

{% block title %}
{{ block.super }} - Curso de Excel
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <!-- Video principal -->
    <div class="col-lg-8">
      <h2>Abrir archivos excel</h2>
      <div class="embed-responsive embed-responsive-16by9">
        <video controls>
          <source src="{% static 'img/videoplayback.mp4' %}" type="video/mp4">
          Tu navegador no soporta el elemento de video.
        </video>
      </div>
    </div>

    <!-- Módulos -->
    <div class="col-lg-4">
      <h2>Módulos</h2>
      <div class="accordion" id="modulesAccordion">
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#module1" aria-expanded="true" aria-controls="module1">
                Módulo 1
              </button>
            </h2>
          </div>
          <div id="module1" class="collapse show" aria-labelledby="heading1" data-parent="#modulesAccordion">
            <div class="card-body">
              <ul>
                <li>Lección 1</li>
                <li><a href="#">Evaluación</a></li>
                <li><a href="#">Foro</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Más módulos aquí -->
      </div>
    </div>
  </div>

  <!-- Sección de comentarios -->
  <div class="row">
    <div class="col-lg-12">
      <h2>Comentarios</h2>
      <div class="comments-section">
        <div class="media">
          <img src="{% static 'css/maxresdefault.png' %}" class="mr-3" alt="Avatar">
          <div class="media-body">
            <h5 class="mt-0">Usuario 1</h5>
            <p>¡Este curso es excelente! He aprendido mucho sobre Excel gracias a estos videos.</p>
          </div>
        </div>
        <div class="media">
          <img src="{% static 'css/maxresdefault.png' %}" class="mr-3" alt="Avatar">
          <div class="media-body">
            <h5 class="mt-0">Usuario 2</h5>
            <p>¿Alguien más ha tenido problemas para reproducir el video?</p>
          </div>
        </div>
        <div class="media mt-4">
          <img src="{% static 'css/maxresdefault.png' %}" class="mr-3" alt="Avatar">
          <div class="media-body">
              <h5 class="mt-0">Agrega un comentario</h5>
              <form method="post" action="">
                  <textarea name="comment" rows="3" placeholder="Escribe tu comentario aquí"></textarea>
                  <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
