{% extends "base.html" %}

{% block title %}Registro - EduHub{% endblock %}

{% block content %}

{% load static %}
<main>
  <div class="r_container mt-5">
    <div class="registration-box p-4">
      <h2>Registro</h2><form method="post">
        {% csrf_token %}
        <p>
            {{ form.nombre_completo.label_tag }}<br>
            {{ form.nombre_completo }}
        </p>
        <p>
            {{ form.nombre_usuario.label_tag }}<br>
            {{ form.nombre_usuario }}
        </p>
        <p>
            {{ form.email.label_tag }}<br>
            {{ form.email }}
        </p>
        <p>
            {{ form.password.label_tag }}<br>
            {{ form.password }}
        </p>
        <p>
            {{ form.confirm_password.label_tag }}<br>
            {{ form.confirm_password }}
        </p>
        <p>
            {{ form.rol.label_tag }}<br>
            {{ form.rol }}
        </p>
        <input type="submit" value="Submit" class="submit-button">
    </form>
    
      <p class="mt-3">¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia Sesion aquí</a>.</p>
    </div>
  </div>
</main>
{% endblock %}
